<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models2" value="https://pkgs.dev.azure.com/SamuelThampy/ae70a4e6-68ba-45ad-b83e-089cecb50f45/_packaging/Tailspin.SpaceGame.Web.Models2/nuget/v3/index.json" />
  </packageSources>
</configuration>